<a href="https://colab.research.google.com/github/vrose99/ds4bme/blob/master/Quiz4_vrose9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Victoria Rose
### vrose9@jh.edu
### Quiz 4

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.linear_model as lm
import sklearn as skl
import statsmodels.formula.api as smf
import statsmodels as sm

# Question 1

In [4]:
# Download in the data if it's not already there
! if [ ! -e kirby21.csv ]; \
then wget https://raw.githubusercontent.com/bcaffo/ds4bme_intro/master/data/kirby21.csv; \
fi;

# Read in the data and display a few rows
dat = pd.read_csv("kirby21.csv")
#dat['csf'] = dat['icv'] - dat['tbv'] 
dat.head()

   Unnamed: 0                 rawid              roi  ...   id      icv      tbv
0           1  kirby127a_3_1_ax.img  Telencephalon_L  ...  127  1378295  1268519
1           2  kirby127a_3_1_ax.img  Telencephalon_R  ...  127  1378295  1268519
2           3  kirby127a_3_1_ax.img   Diencephalon_L  ...  127  1378295  1268519
3           4  kirby127a_3_1_ax.img   Diencephalon_R  ...  127  1378295  1268519
4           5  kirby127a_3_1_ax.img    Mesencephalon  ...  127  1378295  1268519

[5 rows x 13 columns]

In [83]:
# Make a data Frame
df = pd.read_csv("kirby21.csv")
df_L = df.loc[df['roi']=='Diencephalon_L']
df_R = df.loc[df['roi']=='Diencephalon_R']
df_y = df.loc[df['roi']=='CSF']
#df_L.head()
#df_R.head()
x1 = df_L['volume'].tolist()
x2 = df_R['volume'].tolist()
y_temp = df_y['volume'].tolist()
y = []
for i in range(len(y_temp)):
  if i % 2 == 0:
    y.append(y_temp[i])
#will be the same whether taken from df_L or df_R
#pred = pd.DataFrame([x1, x2, y],columns=['x1','x2','y'])
df = pd.DataFrame([x1,x2,y])
df = df.transpose()
df.columns = ['x1','x2','y']
df.head()

     x1    x2       y
0  9683  9678  109776
1  9156  9071  107334
2  8937  9004   94254
3  8828  8933   67156
4  9749  9722  110114

In [84]:
results = smf.ols('y ~ x1+ x2', data = df).fit()
print(results.summary2())

                    Results: Ordinary least squares
=======================================================================
Model:                OLS               Adj. R-squared:      0.128
Dependent Variable:   y                 AIC:                 454.0017
Date:                 2019-09-26 19:03  BIC:                 456.9889
No. Observations:     20                Log-Likelihood:      -224.00
Df Model:             2                 F-statistic:         2.394
Df Residuals:         17                Prob (F-statistic):  0.121
R-squared:            0.220             Scale:               3.6842e+08
-----------------------------------------------------------------------
            Coef.     Std.Err.     t    P>|t|     [0.025       0.975]
-----------------------------------------------------------------------
Intercept -2449.7146 59324.5017 -0.0413 0.9675 -127613.4723 122714.0432
x1           23.9403    21.0337  1.1382 0.2708     -20.4370     68.3175
x2          -13.7653    23.3248 -0.5902 0.5628     -62.9763     35.4458
-----------------------------------------------------------------------
Omnibus:                0.679          Durbin-Watson:            2.013
Prob(Omnibus):          0.712          Jarque-Bera (JB):         0.646
Skew:                   -0.064         Prob(JB):                 0.724
Kurtosis:               2.129          Condition No.:            177374
=======================================================================
* The condition number is large (2e+05). This might indicate
strong multicollinearity or other numerical problems.

### Later problem interpret

# Question 2

In [42]:
# Download in the data if it's not already there
! if [ ! -e binary.csv ]; \
then wget https://stats.idre.ucla.edu/stat/data/binary.csv; \
fi;

--2019-09-26 18:36:05--  https://stats.idre.ucla.edu/stat/data/binary.csv
Resolving stats.idre.ucla.edu (stats.idre.ucla.edu)... 128.97.141.21
Connecting to stats.idre.ucla.edu (stats.idre.ucla.edu)|128.97.141.21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5489 (5.4K) [text/csv]
Saving to: ‘binary.csv’

binary.csv          100%[===================>]   5.36K  --.-KB/s    in 0s

2019-09-26 18:36:05 (359 MB/s) - ‘binary.csv’ saved [5489/5489]

In [77]:
dat = pd.read_csv("binary.csv")
dat.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [85]:
trainFraction = .75
x = dat[['gre','gpa','rank']]
y = dat[['admit']]
x = sm.tools.add_constant(x)
sample = np.random.uniform(size = 400) < trainFraction
trainingDat = dat[sample]
testingDat = dat[~sample]


xtraining = x[sample]
xtesting = x[~sample]
ytraining = y[sample]
ytesting = y[~sample]
fit = sm.discrete.discrete_model.Logit(ytraining, xtraining).fit()
print(fit.summary())

Optimization terminated successfully.
         Current function value: 0.557300
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  297
Model:                          Logit   Df Residuals:                      293
Method:                           MLE   Df Model:                            3
Date:                Thu, 26 Sep 2019   Pseudo R-squ.:                 0.09557
Time:                        19:04:12   Log-Likelihood:                -165.52
converged:                       True   LL-Null:                       -183.01
Covariance Type:            nonrobust   LLR p-value:                 1.231e-07
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -2.8845      1.349     -2.138      0.033      -5.529      -0.240
gre            0.0013      0.001      0.987      0.324      -0.001       0.004
gpa            0.8695      0.387      2.247      0.025       0.111       1.628
rank          -0.7074      0.155     -4.575      0.000      -1.011      -0.404
==============================================================================

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

## INTERP COEFF

In [94]:
thresh = np.arange(0,1,0.01)

array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99])